/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rye&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* General styles */ 
/* For semantic elements that should not be displayed to user*/
.hidden {
  display: none;
}

body {
  color: #fff;
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

/* Main styles */
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.52;
}

/* container styles */
.container-black {
  background-color: #000;
  color: #fff;
}

.container-white {
  background-color: #fff;
  color: #000;
}

/* header styles */
header .navbar-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: space-between;
}

header h1 {
  font-family: 'rye', cursive;
  font-size: 32px;
  line-height: 1.5;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin: 2px;
}

header h2 {
  font-family: 'vollkorn', serif;
  font-size: 24px;
  font-style: italic;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  padding: 3px;
  margin: 3px 0px;
}

#header-title {
  display: block;
}

/* navigation bar styles */
nav {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  background-color: #000;
  color: #fff;
  z-index: 999;
  position: absolute;
  top: 10%;
  right: 0;
  margin: 5px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.active{
  color: #ff0000;
  font-weight: 600;
}

.nav-links {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid 1px #fff;
  padding: 3px;
}

.nav-links li {
  margin-bottom: 10px;
  border-bottom: #fff solid 1px;
  padding: 1px;
}

#nav-logo {
  width: auto;
  height: 50px;
  border: solid 1px #fff;
  border-radius: 10%;
}

/* Nav toggle - dropdown meny for mobile screens */
#menu-icon:checked ~ nav {
  display: block;
}

#menu-icon {
  display: none;
}

.menu-icon-label {
  font-size: xxx-large;
}

/* Hero styles */
#hero-image {
  border-color: #fff;
  border-width: 2px;
  width: 100%;
}

#hero {
  height: 100vw;
  width: 100%;
  background: url("../images/hero-mikevs-medium.jpg") no-repeat center center/cover;
  position: relative;
}

.hero-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.hero-quote {  
  /* Final rgba value sets the opacity so it is transparent */
  background-color: rgba(244, 244, 244, 0.75);
  font-size: 130%;
  position: absolute;
  bottom: 85px;
  width: auto;
  font-style: italic;
  text-align: center;
  margin: 0 5px;  
}

.q-hero {
  background-color: rgba(244, 244, 244, 0);  
  color: #000;
  padding: 5px;
  margin: 0;
  font-weight: 550;
}

.q-source {
  text-align: right;
  font-weight: 800;
  background-color: rgba(244, 244, 244, 0);
  color: #000;
  margin-right: 10px;
}

/* Introduction styles */
.introduction h2 {
    font-family: 'vollkorn', serif;
  font-size: 18px;
  font-style: italic;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}
#intro-text {
  padding: 10px;
  font-weight: 400;
  text-align: center;
}

/* Footer styles */
footer {
  display: flex;
  flex-direction: row;
  width: 95%;
  position: sticky;  
  justify-content: space-between;  
  flex-shrink: 0;
  padding: 5px;
}

footer p {
  font-size: 11px;
  display: flex;
  align-items: center;
}

footer a {
  font-weight: 800;
  font-size: 12px;
  text-decoration: none;
  color: #ff0000;
  margin-left: 5px;
  font-size: 10px;
}

.footer-icons {    
  display: flex;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
  gap: 6vw;
  flex: 1;
  align-items: center;
}

.red-icon {
  color: #ff0000;
  font-size: 16px;
}

/* NOTE/TO do: look up if I should include the mobile first comment and remove the media query or not */
/* Media queries */
/* Media query: small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {   
}
  
/* Media query: medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {   
 /* header styles  */
.container-black {
  display: flex;
  padding: 0px 15px;
}

nav {
  display: flex;
  position: relative;
}

.nav-links {
  flex-direction: row;
  gap: 5vw;
}
.menu-icon-label {
  display: none;
}
}

/* Media query: large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {   
/* header styles  */
/* NOTE/TO DO remove .container-black for desktop and laptop it's just placeholder*/
.container-black {
  display: flex;
}
}

/* Media query: extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {   
    .container-black {
      display: flex;
    }
}
