/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rye&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* general styles */ 
/* wildcard to override all default styles */
* {
    background-color: #000;
    color: #fff;
}

/* main styles */
main {
    display: flex; 
    flex: 1 0 auto;
    flex-direction: column;
}

/* For semantic elements that should now be displayed */
.hidden {
    display: none;
}

body {
    color: #fff;
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1.52px;
}

/* Section styles */
/* header styles */
header .container-black {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: left;
    padding: 2rem;
    background-color: #000;
    color: #fff;
}

header h1 {
    font-family: 'Rye', cursive;
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

header h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-style: italic;
    line-height: 2.5rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

/* navigation bar styles */
nav a {
    color: #fff;
    text-decoration: none;
}

a .active {
    color: #fff;
}

#nav-logo {
    width: auto;
    height: 50px;
    border: solid 1px #fff;
    border-radius: 10%;
}

/* Hero styles */
#q-introduction {
    font-style: italic;
}

#image-hero {
border-color: #fff;
border-width: 2px;
}

/* container styles */
.container-black {
    display: flex;
    background-color: #000;
    color: #fff;
}

.container-white {
    display: flex;
    background-color: #fff;
    color: #000;
}
/* Footer styles */
footer {
    display: flex;
    width: 100%;    
}

/* Media queries */
/* Media query: small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {   
    .container-black {
        display: block;
        padding: 0px 15px;
    }
}
  
/* Media query: medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {   
    .container-black {
        display: flex;
        padding: 0px 15px;
    }
}

/* Media query: large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {   
    .container-black {
        display: flex;
    }
}

/* Media query: extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {   
    .container-black {
        display: flex;
    }
}
